.calculator-flex{
  min-width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.calculator-container{
  min-width: 370px;
  width: 30%;
  height: 90vh;
  border: 1px solid black;
}

.App-Heading{
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
}
.calculation-input{
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculation-input-box{
  width: 70%;
  height: 20px;
  min-width: 80px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.button-style{
  width: 20%;
  height: 80px;
  border-radius: 5px;

}

.button-container{
  min-width: 365px;
  gap: 1rem;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.button-container button
{
  font-size: 1.8rem;
}
.button-container button:hover{
  background-color: rgb(43, 42, 42);
  color: white;
  cursor: pointer;
}